.header{
 background-color:#fff;
 padding:.4rem;
 overflow: hidden;
 height:5.8rem;
 border-bottom:1px solid #ccc;
}
.headerLogo{
 color:#1e90ff;
 font-size:2.9rem;
 text-align:left;
}
.headerDesc{
 font-size:1.2rem;
 color:#999;
 display:inline-block;
 padding-left:.6rem;
}